server:
  port: 6001

spring:
  profiles:
    active: dev

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.nanfeng.gulimall.ware.entity
  global-config:
    db-config:
      id-type: auto

  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.log4j2.Log4j2Impl